{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Portafolio{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <style>
        /* Estilos personalizados si es necesario */
    </style>
</head>
<script>
  AOS.init();
</script>

<body>
    <header>
        {% block nav %}
            {% include 'partials/nav.html' %}
        {% endblock %}
    </header>

    <main class="container mt-5">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>

